ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  display: flex;
  ion-text {
    color: #dad6d6;
    font-weight: bold;
    font-size: 1.2rem;
  }
  ion-icon {
    margin-left: auto;
    fill: #dad6d6;
  }
}
