
ion-grid {

  ion-row {


    ion-col {
      position: relative;

      .details-section {
        position: absolute;

        top:  50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      /*   background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0) 50%,
          rgb(0, 0, 0) 100%); */
          background-color: red;
        z-index: 1;
        display: flex;
        overflow: hidden;
       // width: 100%;
        app-profile-coordination {
          margin-top: auto;
          margin-bottom: 3rem;
          width: 100%;
        }
        }
       }
  }

  .animation-section {
      position: absolute;
      z-index: 10;
      &__like {
        top: 20%;
        left: 10%;
        transform: translate(-20%, -10%);
      }
      &__dislike {
        top: 19%;
        right: 0%;
        transform: translate(-19%, -0%);
      }
  }
}

