ion-header {
  --background: transparent;
  ion-title {
    text-transform: capitalize;
     color: var(--ion-color-grey-7);
  }
}
.edit-profile {

  &__home-town{
     .main-label {
        color: var(--ion-color-grey-7);
        font-weight: bold;
        font-size: 1rem;
    }
    ion-item{
      --background: transparent;
      ion-searchbar {
        --border-radius: 1rem;
        padding-inline-start: 0;
        padding-inline-end: 0;
        --color: var(--ion-color-grey-7);
      }
    }

    ion-list {
      background: transparent;
      ion-icon {
        font-size: 1.2rem;
      }
    }
  }
}
