<app-header [pageName]="'account'" (settings)="onSettings()"></app-header>

<!-- Content -->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-account-info></app-account-info>
      </ion-col>
    </ion-row>

    <!-- Shopping cards sections -->
    <!--  <ion-row>
        <ion-col >
           <app-shopping-cards></app-shopping-cards>
        </ion-col>
      </ion-row> -->

    <!-- App features section -->
    <!--   <ion-row>
        <ion-col>
          <app-features></app-features>
        </ion-col>
      </ion-row> -->
  </ion-grid>
</ion-content>
