.hammer-swiper-container {
  &__disable-hammer-swipe {
    pointer-events: none;
    position: relative;
    // Ensure scrolling is still possible inside child elements
    > * {
      height: 100%;
      width: 100%;
      overflow: auto; // Allow scrolling
      //touch-action: pan-y; // Allow vertical scrolling // Allow vertical scrolling
    }
  }
}

ion-card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}
