<ion-card class="card-marin card-bg">
  <ion-card-header>
    <ion-card-subtitle class="left-align">
      <ion-icon name="id-card"></ion-icon>
      <ion-text>Essentials</ion-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-text>Less than a mile away</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text> IAE Lille </ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>

<!-- <ion-item>
  <div class="content">
      <div class="content__header">
        <ion-icon name="id-card"></ion-icon>
        <ion-text>Essentials</ion-text>
      </div>
     <div class="content__body">
        <ion-item>
          <ion-text>Less than a mile away</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text> IAE Lille </ion-text>
        </ion-item>
     </div>
  </div>
</ion-item> -->
