ion-card {
  ion-card-subtitle {
    text-align: left;
    ion-text {
      color: var(--ion-color-primary);
      margin-left: 0.5rem;
    }
    ion-icon {
      fill: var(--ion-color-primary);
    }
  }

  ion-item {
    --background: none;
    ion-text {
      color: var(--ion-text-color-1);
    }
  }
}
