<app-header
  [pageName]="discoverToggleStatus() ?
'discover-viewer': 'discover'"
>
</app-header>

<ion-content #content fullscreen="true" scrollY="true" forceOverscroll="false">

 <ng-container *ngIf="membersList().length > 0; else default">
    <div
      class="profile-viewer"
      *ngFor="let item of membersList();  let i = index; trackBy: trackById"
      [ngClass]="i === 0 && isAnimating() ? animationClass() : ''"
      [style.z-index]="100 - i"
    >
      <app-profile-swipe
        [profile]="item"
        [profileToView]="profileToView()?.profile?.user_id === item.user_id ? profileToView(): null "
      >
      </app-profile-swipe>
    </div>
  </ng-container>

  <ng-template #default>
    <div class="place-holder">
      <app-place-holder [pageName]="'discover'" [accountAvatar]="hostAvatar"></app-place-holder>
    </div>
  </ng-template>
</ion-content>

<ion-footer *ngIf="showTabs()">
  <ion-grid>
    <ion-row class="interaction-btns">
      <ion-col>
        <app-interaction-btns [animationType]="animationType" [pageName]="'discover'"></app-interaction-btns>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <app-discover-tabs *ngIf="!discoverToggleStatus()"></app-discover-tabs>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
