<ion-content>
   <ng-container *ngIf="potentialMatches().length > 0; else default">
    <div
      class="profile-card"
      *ngFor="let item of potentialMatches();  let i = index; trackBy: trackById"
      [ngClass]="i === 0 && isAnimating() ? animationClass() : ''"
      [style.z-index]="100 - i"
    >
      <app-profile-swipe
        [profile]="item"
        [profileToView]="profileToView()?.profile?.user_id === item.user_id ? profileToView(): null "
      >
      </app-profile-swipe>
    </div>
  </ng-container>

   <ng-template #default>
    <div class="place-holder">
      <app-place-holder [pageName]="'discover'" [accountAvatar]="hostAvatar"></app-place-holder>
    </div>
  </ng-template>
</ion-content>

<ion-footer >
  <ion-grid>
    <ion-row class="interaction-btns">
      <ion-col>
        <app-interaction-btns [animationType]="animationType" [pageName]="'discover'"></app-interaction-btns>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

