@use '../../../theme/queries' as *;

ion-content {
  --background: transparent;
  position: relative;
  .profile-card {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    height: calc(100% - 200px);
    transform: translate(-0%, -50%);
    background-color: transparent;
  }

  .place-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}

ion-footer {
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 8%;
  --background-color: transparent;
  ion-grid {
    ion-row:first-child {
      margin-bottom: 0.5rem;
    }
    ion-row:last-child {
      ion-col {
        height: 4rem;
      }
    }
  }
}


ion-modal {
  margin: 4rem;
}

/*  */
@keyframes swipe-left {
  0% {
    transform: translate(-0%, -50%) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(-20vw, -50%) rotate(-3deg);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50vw, -50%) rotate(-5deg);
    opacity: 0;
  }
}


@keyframes swipe-right {
  0% {
    transform: translate(0, -50%) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(20vw, -50%) rotate(3deg) ;
    opacity: 0.8;
  }
  100% {
    transform: translate(50vw, -50%) rotate(5deg);
    opacity: 0;
  }
}

.swipe-left {
  animation: swipe-left 0.3s ease-out forwards;
}

.swipe-right {
  animation: swipe-right 0.3s ease-out forwards;
}
