ion-grid {
  margin: 0;
  padding: 0;

  .details-header {
    font-weight: bold;
    color: black;
    padding-bottom: .5rem;
    ion-col {
      margin: 0;
      padding: 0;
    }
    &__title {
      text-align: left;
    }
  }

  .details-content {
      ion-col {
        margin: 0;
        padding: 0;
      }
  }

  .details-btn {
    ion-col {
      margin: 0;
      padding: 0;
      ion-button {
        color: rgb(156, 112, 3);
        font-size: 1.1rem;
        font-weight: bolder;
      }
    }

  }

}
