<ion-grid>
  <ion-row  class="details-header">
    <ion-col class="details-header__title"  size="6">
       <ion-text>What's included</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text>Free</ion-text>
   </ion-col>
   <ion-col size="3">
    <ion-text>{{ category }}</ion-text>
 </ion-col>
  </ion-row>

  <ion-row class="details-content">
    <ion-col size="12">
      <app-details-content></app-details-content>
    </ion-col>
  </ion-row>

  <ion-row class="details-content">
    <ion-col size="12">
      <app-details-content></app-details-content>
    </ion-col>
  </ion-row>

  <ion-row [ngClass]="styleSeeFeature(category)">
    <ion-col size="12">
      <ion-button size="small" fill="clear">See all features</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
