<ion-grid>
  <ion-row>
    <ion-col size="12">
       <div class="account-avatar">
          <img alt="Silhouette of a person's head" src="https://images.unsplash.com/photo-1530785602389-07594beb8b73?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVvcGxlJTIwYmxhY2t8ZW58MHx8MHx8fDA%3D" />
       </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text *ngIf="accountData" > {{ accountData.firstName }}, 31</ion-text>
      <div class="location-container">
        <ion-icon name="location"></ion-icon>
        <span class="city-name">New York</span> <!-- City name -->
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

        <div>
          <ion-button shape="round" fill="outline" >
            <ion-icon slot="icon-only" name="cog"></ion-icon>
          </ion-button>
          <ion-text> Settings </ion-text>
        </div>
        <div>
          <ion-button shape="round" fill="outline"   (click)="onEditProfile()">
            <ion-icon slot="icon-only" name="create"></ion-icon>

          </ion-button>
          <ion-text> Edit profile</ion-text>
        </div>
        <div>
          <ion-button fill="outline" shape="round">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
            <ion-icon name="add" class="add-icon"></ion-icon>
          </ion-button>
          <ion-text> Add media</ion-text>
        </div>

    </ion-col>
  </ion-row>
</ion-grid>
