// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
  --ion-color-primary: #e94200;
	--ion-color-secondary: #0163aa;
	--ion-color-tertiary: #6030ff;

  --offset-top: 122px !important;
  --offset-bottom: 0px !important;
  --keyboard-offset: 0px !important;
}

