// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
  --ion-color-primary: #0097b2;
	--ion-color-secondary: #b26700 /* #183244 */;
	--ion-color-tertiary: #006b72 /* */;


  --ion-background-color: #f7fffffd;
/*   --offset-top: 122px !important;
  --offset-bottom: 0px !important;
  --keyboard-offset: 0px !important; */
}

