// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary:  #0097b2 ;
  --ion-color-secondary: #f4a261 /* #ff6699 */ /* #009db2 */ /* #b26700 */ /* #183244 */;
  --ion-color-tertiary: #b2009d /* #2a9d8f */ /* #ffcc00 */ /* #9db200 */ /* #6bb200 */
    /* #006b72 */ /* */;

  --ion-background-color: #f1f3f5 ;/* #f7fffffd; */
  --ion-background-color-2: #d8f9f9fd;
  --ion-text-color-1: #666666;

  // Grey
  --ion-color-grey-0: #f8f9fa;
  --ion-color-grey-1: #f1f3f5;
  --ion-color-grey-2: #e9ecef;
  --ion-color-grey-3: #dee2e6;
  --ion-color-grey-4: #ced4da;
  --ion-color-grey-5: #adb5bd;
  --ion-color-grey-6: #868e96;
  --ion-color-grey-7: #495057;
  --ion-color-grey-8: #343a40;

  // Blue
  --ion-color-cyan-0: #e3fafc;
  --ion-color-cyan-1: #c5f6fa;
  --ion-color-cyan-2: #99e9f2;
  --ion-color-cyan-3: #66d9e8;
  --ion-color-cyan-4: #3bc9db;
  --ion-color-cyan-5: #22b8cf;
  --ion-color-cyan-6: #0b7285;

  // Online green
  --ion-color-online: #4caf50;

  // Sender background color
  --ion-sender-bg-color: #b8e6f2;
}

body {
  font-family: 'Proxima Nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
