@use "../../../../../../theme/queries" as *;

.btn {
  border-radius: 50%;
  background: #dbdada;
  padding: 0;
  position: relative;
  ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &__like {
    &--animation {
      background: linear-gradient(#098652, #c5f02a);
    }
  }

  &__dislike {
    &--animation {
      background: linear-gradient(#ea0b25, #f85c6e);
    }
  }

  &__like, &__dislike {
    height: 4.5rem;
    width: 4.5rem;
    ion-icon {
      height: 3rem;
      width: 3rem;
      transform: translate(-50%, -50%);
    }
    @include respond-height(small-phone) {
      height: 3.5rem;
      width: 3.5rem;
      ion-icon {
        height: 2rem;
        width: 2rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__boost, &__stars , &__undo  {
    height: 3.5rem;
    width: 3.5rem;
    ion-icon {
      height: 2.2rem;
      width: 2.2rem;
      transform: translate(-50%, -50%);
    }

    @include respond-height(small-phone) {
      height: 2.5rem;
      width: 2.5rem;
      ion-icon {
        height: 1.2rem;
        width: 1.2rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__undo {
    ion-icon {
      //background: orange;
      transform: translate(-50%, -50%) scaleX(-1);
    }
  }

}



