ion-item-group {
  ion-item-divider {
    padding-left: .3rem;
    padding-right: .3rem;
   ion-label {
      margin-bottom: .5rem;
    }
  }

  ion-item {
    ion-label {
      color: var(--ion-color-grey-8);
    }
    --background: transparent;
    --border-radius: 1rem;
    border: 1px solid var(--ion-color-grey-5);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: .5rem;
    ion-text:not(last-child) {
      margin-right: .3rem;
    }
  }
}
