<app-header [pageName]="'matches'"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid class="matches">
    <ng-container *ngIf="matchesArray().length > 0; else default">
      <ion-row class="matches__title">
        <ion-col>
          <ion-text>Matches</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="matches__list">
        <ion-col>
          @for(item of matchesArray(); track item) {
            <app-match-item [partnerInfo]="item"></app-match-item>
          }
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-template #default>
      <ion-row class="matches__place-holder">
        <ion-col>
          <app-place-holder [accountAvatar]="hostAvatar"></app-place-holder>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>
