ion-content {
  position: relative;
  height: 100vh;
  .matches {
    &__title{
      margin: .5rem .5rem 0 .5rem;
      ion-text {
        font-weight: 600;
        font-size: .9rem;
        color: var(--ion-color-grey-7);
      }
    }
    &__list {
      padding: 1rem;
      ion-col {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 0 auto;
        padding: 0;
      }
    }
    &__place-holder {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
  }
}
