ion-grid {
  margin: 0;
  padding: 0;

  .details {
    font-weight: bold;
    color: black;
    padding-bottom: .5rem;
    font-size: .9rem;
    ion-col:first-child {
      div {
        text-align: left;
      }
      div {
        padding-bottom: .5rem;
      }
      div:not(:first-child) {
        font-weight: normal;
        color: black;
        font-size: .8rem;
      }
    }

    ion-icon {
      font-size: 2rem;
      font-weight: bold;
    }


    ion-col:not(:first-child) {

      div:first-child {
        text-align: right;
        text-transform: capitalize;
      }
      div:not(:first-child) {
        display: flex;

        ion-icon {
          margin-left: auto;
        }
      }
    }

    ion-col {
      margin: 0;
      padding: 0;

    }


  }



  .details-btn {
    ion-col {
      margin: 0;
      padding: 0;
      ion-button {
        font-size: 1.1rem;
        font-weight: bolder;
      }
    }
    &__gold {
      ion-button {
        color: rgb(156, 112, 3);
      }
    }
    &__platinum {
      ion-button {
        color: rgb(50, 50, 51);
      }
    }
    &__plus {
      ion-button {
        color: rgb(156, 3, 125);
      }
    }
  }

}

