.discover-swipe-overlay {
  position: absolute;
  inset: 0; // full screen

  //pointer-events: none; /* Enable only when needed */
  &__active {
  pointer-events: auto; /* Enable only when needed */
  z-index: 99;
}
}

ion-tabs {
  ion-tab-bar {
    padding-top: 0.2rem;
    --background: var(--ion-background-color-2);
    border: none;
    ion-icon {
      font-size: 1.3rem;
    }
  }
}

.hidden {
  display: none !important;
}

