ion-content {
  --background: linear-gradient(to bottom, var(--ion-color-cyan-5), var(--ion-color-cyan-6));
  .custom-grid {
    height: 100vh;
    padding: 0 1rem;
    .row-logo {
      height: 15%;
      padding-top: 4rem;
      ion-col {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        .languages {
          position: absolute;
          right: 0;

          ::ng-deep app-languages-switcher ion-icon {
            --color: var(--ion-color-grey-7);
            font-size: 1.5rem;
          }
        }
        ::ng-deep app-logo div {
          ion-icon {
            color: var(--ion-color-grey-1);
          }

          ion-text {
            background: linear-gradient(to right, var(--ion-color-grey-1), var(--ion-color-grey-2));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .row-intro {
      height: 10%;
      ion-col {
        align-items: center;
        display: flex;
        justify-content: center;
        ion-text {
          color: var(--ion-color-grey-2);
        }
      }
    }

    .row-terms {
      height: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      padding-bottom: 1rem;
      ion-text {
        font-size: 0.7rem;
        font-weight: bold;
        color: var(--ion-color-grey-3);
      }
    }

    .row-button {
      height: 10%;
      ion-col {
        & {
          display: flex;
          flex-direction: column;
          padding-top: 1rem;
          gap: 0.5rem;
        }

        ::ng-deep app-button {
          ion-button {
            --background: none;
            background: var(--ion-color-grey-2);
            color: var(--ion-color-grey-7);
          }
        }
      }
    }
  }
}
