<app-header [pageName]="'create account'" (closeCompleteProfile)="onClose()" ></app-header>

<ion-content >
  <form [formGroup]="profileForm" >
    <ion-grid class="create-account">
        <!-- Date of Birth -->
        <ion-row>
          <ion-col class="create-account__date-picker">
           <ion-item lines="none">
              <ion-label> Birthday</ion-label>
              <span> 
                {{  
                  profileForm.value.birthDate 
                    ? formatDate(profileForm.value.birthDate) 
                    : 'Select date'
                }}
              </span> 
            </ion-item> 
            <ion-datetime
            display-format="DD/MM/YYYY"
            [value]="profileForm.value.birthDate"
            [max]="maxDate"
            presentation="date"
            prefer-wheel="true"
            (ionChange)="onDateSelected($event)">
           
          </ion-datetime>
          </ion-col>
        </ion-row>
        <!-- display name -->
        <ion-row>
          <ion-col class="create-account__name">
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input formControlName="name"placeholder="how should others see you?"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Gender -->
        <ion-row>
          <ion-col class="create-account__gender">
            <ion-item>
              <ion-select
                label="Gender"
                justify="start"
                interface="action-sheet"
                formControlName="gender"
                placeholder="Select gender">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="other">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Country -->
        <ion-row>
          <ion-col class="create-account__country">
            <ion-item>
              <ion-label >Country</ion-label>
              <ion-input formControlName="country" placeholder="your country is..."></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- City -->
        <ion-row>
          <ion-col class="create-account__city">
            <ion-item>
              <ion-label >City</ion-label>
              <ion-input formControlName="city" placeholder="your city is..."></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!--  Interested In -->
        <ion-row>
          <ion-col class="create-account__intrest">
            <ion-item>
              <ion-select
                label="Interested In"
                justify="start"
                interface="action-sheet"
                formControlName="interestedIn"
                placeholder="Select one">
                <ion-select-option [value]="InterestedIn.Men">Men</ion-select-option>
                <ion-select-option [value]="InterestedIn.Women">Women</ion-select-option>
                <ion-select-option [value]="InterestedIn.Both">Both</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Photos Picker -->
        <ion-row>
            <ion-col class="create-account__photos">
              <ion-item>
                <ion-label >Profile Photos</ion-label>
              </ion-item>
              <ion-row >
                <ion-col class="create-account__photo-upload--cards" size="6" *ngFor="let i of [0, 1, 2, 3]; let idx = index; trackBy: trackByIndex">
                  <app-card-media
                    [photo]="photos.at(idx).value"
                  ></app-card-media>  
                  <ion-icon
                  (click)="onTakePhoto(idx)"
                  [name]="photos.at(idx).value ? 'close-outline' : 'add-outline'"
                  [ngClass]="photos.at(idx).value ? 'icon-close' : 'icon-add'"
                ></ion-icon>      
                </ion-col>
              </ion-row>
            </ion-col>
        </ion-row>

        <!-- Submit -->
        <ion-row>
          <ion-col class="create-account__submit-btn">
            <ion-button
            fill="clear"
            size="small"
            (click)="onSubmit()"
            [disabled]="profileForm.invalid">
              Save
            </ion-button>
          </ion-col>
        </ion-row>
    
    </ion-grid>
  </form>
</ion-content>
