ion-content {
  height: 100%;
  ion-grid {
    margin: 0;
    padding: 0;
    margin-bottom: 6rem;
    position: relative;
    ion-row:first-child {
      ion-col {
        margin: 0;
        padding: 0;
      }
    }
  ion-row:last-child {
    position: fixed;
    bottom: 4%;
    width: 100%;
    z-index: 2;
  }
  }
}

