<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-text>Media</ion-text>
          <app-account-media></app-account-media>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>About me</ion-text>
        <app--account-about-me></app--account-about-me>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Interests</ion-text>
        <app-account-interests></app-account-interests>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Relationship Goals</ion-text>
        <app-account-relation-goals></app-account-relation-goals>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Relationship type</ion-text>
        <app-account-relation-type></app-account-relation-type>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Language I know</ion-text>
        <app-account-languages></app-account-languages>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-text>
            Lifestyle
          </ion-text>
          <app-account-lifestyle></app-account-lifestyle>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-text>School</ion-text>
          <app-account-school></app-account-school>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Living in</ion-text>
        <app-account-living></app-account-living>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-text>Gender</ion-text>
          <app-account-gender></app-account-gender>
      </ion-col>
    </ion-row>

    <ion-row>
       <ion-col>
        <ion-text>
          Sexual orientation
        </ion-text>
        <app-account-orientation></app-account-orientation>
       </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
       <ion-text>
         Control Your profile
       </ion-text>
       <app-account-control></app-account-control>
      </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
