ion-content{
  .custom-grid {
    height: 100vh;
    padding: 0 1rem;
  .row-logo {
    height: 15%;
    padding-top: 4rem;
    ion-col {
      align-items: center;
      display: flex;
      justify-content: center;

    /*   ::ng-deep app-logo div {
    } */
    }
  }

  .row-intro {
    height: 10%;
    ion-col {
      align-items: center;
      display: flex;
      justify-content: center;
      //color: var(--ion-background-color);
    }
  }

  .row-terms {
    height: 50%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    ion-text {
      font-size: .7rem;
      font-weight: bold;
    }
  }

  .row-button {
    height: 10%;
    ion-col {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      gap: .5rem;
    }
  }

  }

}


