
<ion-content [fullscreen]="true">
  <ion-grid class="custom-grid">
    <ion-row class="row-logo">
      <ion-col>
      logo
      </ion-col>
    </ion-row>
    <ion-row class="row-intro">
      <ion-col>
        it start with a swipe
      </ion-col>
    </ion-row>
    <ion-row class="row-terms">
      <ion-col >
      <ion-text>By typing 'Create account' or 'Sign in' you agree to our Terms.
        Learn how we process your data in our Privacy Policy
        and Cookies Policy</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="row-button">
      <ion-col>
      logo
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
