ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  ion-icon {
    font-size: 1.1rem;
    margin-right: .5rem;
  }
  ion-text , ion-icon {
    color:  #dad6d6;
  }
}
