<ion-grid>
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-text>Account settings</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
        <ion-item>
          <ion-item>
            <ion-text>Help & Support</ion-text>
          </ion-item>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-text>Delete Account</ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <app-button [btnText]="'logout'" (click)="onLogout()" ></app-button>
    </ion-col>
  </ion-row>

</ion-grid>



