
ion-tabs {
  ion-tab-bar {
    padding-top: 1rem ;
    --background: var(--ion-background-color);
    border: none;
  }

  .profile-action {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.005), rgba(12, 12, 12, 1));
    height: 5rem;
    app-profile-action {
      padding-bottom: 1rem;
    }
  }
}

