<ion-tabs #tabsElement #tabs (ionTabsDidChange)="setCurrentTab($event)"    >
  <ion-tab >
    <app-interaction-btns *ngIf="showActionBtn"></app-interaction-btns>
  </ion-tab>

  <ion-tab-bar slot="bottom" [class.hidden]="isDiscoverActive" >

    <ion-tab-button tab="discover">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="conversations">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <ion-icon name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  tab="account">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>



</ion-tabs>


