
ion-tabs {
  position: relative;

  ion-tab {
    background: transparent;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
  }
  ion-tab-bar {
    padding-top: 1.5rem;
    --background: var(--ion-background-color-2);
    border: none;
  }

}

