ion-card {
  ion-card-header {
    padding-bottom: .5rem;
  }
  ion-card-subtitle {
    text-align: left;
    display: flex;

    ion-label {
      box-decoration-break: clone;
      margin-left: 0.5rem;
      //font-size: 1rem;
      align-self: center;
      text-transform: capitalize;
      span {
        text-transform: lowercase;
      }
    }
    ion-icon {
      font-size: 1.2rem;
    }
  }
  ion-card-content {
    ion-item {
      font-size: .9rem;
    }
  }

}

ion-item-divider{
  ion-item {
     width: 100%;
  }
}
