<ion-grid>
  <ion-row>
    <ion-col size="12">
      <div class="account-avatar">
        <img alt="user profile" [src]="photoPreview || setAccountImage()" />
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="account-info">
    <ion-col>
      <ion-text *ngIf="accountInfoData"> {{ accountInfoData.name }}, {{ accountInfoData.age }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="pref-btn"  (click)="onPreferences()" >
        <ion-button shape="round" fill="outline">
          <ion-icon slot="icon-only" name="cog"></ion-icon>
        </ion-button>
        <ion-text>  </ion-text>
      </div>
    </ion-col>
    <ion-col >
       <div class="profile-btn">
        <ion-button fill="outline" shape="round" (click)="onProfile()" >
          <ion-icon slot="icon-only" name="camera"></ion-icon>
          <ion-icon name="add" class="add-icon"></ion-icon>
        </ion-button>
        <ion-text></ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
