swiper-container {
  --swiper-pagination-bullet-inactive-color: #454746;
  --swiper-pagination-color: var(--ion-color-primary);
  --swiper-pagination-bullet-width: 0.4rem;
  --swiper-pagination-bullet-height: 0.4rem;

  swiper-slide {
    margin-right: 0.5rem;
  }
}
