<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="onBack()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="preferences">
    <ion-row>
        <ion-col>
          <app-distance-pref></app-distance-pref>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-age-range-pref></app-age-range-pref>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-looking-for-pref></app-looking-for-pref>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
