<ion-content [fullscreen]="true">

  <ion-grid class="auth-entry">
    <ion-row class="auth-entry__app-logo">
      <ion-col >
       <app-logo></app-logo>
        <div class="auth-entry__app-logo--languages">
           <app-languages-switcher></app-languages-switcher>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="auth-entry__intro">
      <ion-col>
        <ion-text>
          <strong> {{ 'INTRO.START' | translate }} </strong>
           {{ 'INTRO.WITH' | translate }}
           <strong> {{'INTRO.SWIPE' | translate}} </strong>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="auth-entry__terms">
      <ion-col>
        <ion-text>
          {{ 'TERMS.TEXT' | translate }}  &quot;{{ "TERMS.SIGNUP" | translate }}&quot;
          {{ "TERMS.OR" | translate }} &quot;{{ "TERMS.LOGIN" | translate }}&quot;
          {{ "TERMS.AGREE" | translate }} <u>{{ 'TERMS.TERM' | translate }}</u>.
          {{ 'TERMS.LEARN' | translate }} <u>{{ 'TERMS.POLICY' | translate }}</u>
          {{ 'TERMS.AND' | translate }}
          <u>{{ "TERMS.COOKIES" | translate }}</u>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="auth-entry__button">
      <ion-col>
        <app-button [btnText]="'CREATE_ACCOUNT' | translate" (click)="onCreate()"></app-button>
        <app-button [btnText]="'SIGN_IN' | translate" (click)="onSignIn()"></app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
