<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onCancelEditing()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ formTitle() }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()"
            [disabled]="editPrefFormFields.invalid">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editPrefFormFields">
    <ion-grid class="edit-preference">
      <ion-row class="edit-preference__age" *ngIf="fieldName === FieldName.Age" >
        <ion-col>
          <ion-item-group >
            <ion-item-divider>
              <ion-label>How old are they ?</ion-label>
              <ion-label slot="end"> {{ ageRange.minAge }} - {{ ageRange.maxAge }}</ion-label>
            </ion-item-divider>
           <ion-item lines="none">
             <ion-picker  >
              <ion-picker-column value="minAge" (ionChange)="onPickerChangeMin($event)">
                <ion-picker-column-option
                  *ngFor="let age of ageOptions"
                  [value]="age">
                  {{ age }}
                </ion-picker-column-option>
              </ion-picker-column>
              <ion-picker-column value="maxAge" (ionChange)="onPickerChangeMax($event)" >
                <ion-picker-column-option
                  *ngFor="let age of ageOptions"
                  [value]="age">
                    {{ age }}
                </ion-picker-column-option>
              </ion-picker-column>
            </ion-picker>
           </ion-item>
          </ion-item-group>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="fieldName === FieldName.Distance" class="edit-preference__distance">
        <ion-col >
          <ion-item-group >
            <ion-item-divider>
              <ion-label>Maximum Distance</ion-label>
              <ion-label slot="end"> {{ distanceRange }} miles</ion-label>
            </ion-item-divider>
          </ion-item-group>
           <ion-item lines="none">
            <ion-range
              [min]="1"
              [max]="150"
              (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
              [pin]="true">
            </ion-range>
           </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="fieldName === FieldName.LookingFor" class="edit-preference__interested" >
        <ion-col size="12" >
          <ion-item lines="none">
            <ion-checkbox label-placement="start"
                label-placement="start"
                (ionChange)="onSingleCheckboxSelect('man')">Chatting</ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <ion-checkbox
                label-placement="start"
                (ionChange)="onSingleCheckboxSelect('woman')">
                  Friendship
              </ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <ion-checkbox
                label-placement="start"
                (ionChange)="onSingleCheckboxSelect('other')">
                  Something casual
              </ion-checkbox>
            </ion-item>

             <ion-item lines="none">
              <ion-checkbox
                label-placement="start"
                (ionChange)="onSingleCheckboxSelect('other')">
                  Long-term relationship
              </ion-checkbox>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
