 <ion-grid >
  <ion-row>
  <ion-col>
    <ion-card>
      <ion-card-content>
        <ion-text>
           {{foreigner.first_name}}
        </ion-text>
         <div>
            <ion-button (click)="onSkip()" fill="clear">
              <ion-icon name="close-circle-outline" ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="onAddFriend()">
              <ion-icon name="heart-circle-outline" fill="secondary"></ion-icon>
            </ion-button>
         </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>
