<ion-grid>
  <ion-row>
    <ion-col >
      <app-profile-slider [profile]="foreigner"></app-profile-slider>
      <div
      class="details-section"
      appTap
      (tapSide)="onTapSide($event)"
      >
          <app-user-information
          *ngIf="hidingTapStatus==='show'"
          [profile]="foreigner">
          </app-user-information>
      </div>
    </ion-col>
  </ion-row>
  <ion-row
  [ngClass]="getAnimationStyle(animationType)"
  *ngIf="lastProfileIndex === profileIndex" >
    <ion-col >
      <app-animation ></app-animation>
    </ion-col>
  </ion-row>

</ion-grid>

