
ion-grid {
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  position: relative;
  ion-row {
    ion-col {
      margin: 0;
      padding: 0;
      .details-section {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        z-index: 1;
        background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0) 50%,
          rgb(0, 0, 0) 100%);

        display: flex;
        app-user-information {
          margin-top: auto;
          margin-bottom: 3rem;
        }
        }
       }
  }

  .animation-section {
      position: absolute;
      top: 25%;
      z-index: 10;
      &__like {
        left: 35%;
        transform: translate(35%, 25%);
      }
      &__dislike {
        right: 35%;
        transform: translate(35%, 25%);
      }
  }
}



