<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
          <app-logo></app-logo>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>  <ion-icon name="shield"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSettings()">
        <ion-icon name="settings" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
           <app-account-info></app-account-info>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
