ion-header {
  ion-toolbar {
    --background: var(--ion-background-color);
    --border-width: 0;

  }
}

ion-content {
  --background: var(--ion-background-color);
  ion-grid {
    margin-top: 1rem;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
