form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  ion-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;

  }
}
