ion-grid {
  padding: 0 ;
  margin: 0 ;
  ion-row {
    ion-col {
      padding: 0 ;
      margin: 0 ;
    }
  }
}
.title{
  text-align: left;
  color: rgb(50, 50, 50);
  font-size: .8rem;
}

.free, .category {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

