swiper-container {
  --swiper-pagination-bullet-inactive-color: #454746;
  --swiper-pagination-color: var(--ion-color-primary);
  --swiper-pagination-bullet-width: 4.5rem;
  --swiper-pagination-bullet-height: 0.32rem;
  --swiper-pagination-bullet-border-radius: 2rem;
  --swiper-pagination-top: -1%;

  &::part(bullet-active) {
    height: 0.32rem;
    width: 4.5rem;
    border-radius: 2rem;
  }
  swiper-slide {
    ion-grid {
      margin: 0;
      padding: 0;

      ion-row {
        ion-col {
          margin: 0;
          padding: 0;
          img {
            height: 70vh;
            width: 100%;
            object-fit: cover;
            object-position: top;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }

        }
      }
    }

  }
}


