ion-header {
  ion-toolbar {
    padding-bottom: .5rem;
  }
  ion-back-button {
    color: var(--ion-color-grey-7);
    }
  ion-icon {
    font-size: 1rem;
    color: var(--ion-color-grey-7);
  }
  ion-title {
    text-transform: capitalize;
     color: var(--ion-color-grey-7);
  }
}

.edit-preference {
  margin-top: 1rem;
  &__age {
    ion-item-divider {
      padding: 0 .5rem;
      --inner-padding-end: 0;
      //margin-bottom: 1rem;
    }

    ion-label {
      font-weight: 500;
      color: var(--ion-color-grey-8);
    }

    ion-label:last-child {
      opacity: 0.8;
      font-size: 1rem;
    }
  }

  &__age, &__distance {
     ion-range {
      --bar-background: var(--ion-color-grey-3);
      --bar-background-active: var(--ion-color-primary);
      --bar-height: .2rem;
      --bar-border-radius: .4rem;
      --knob-background: var(--ion-color-cyan-6);
    }
    ion-range::part(pin) {
      margin: 0;
      color: var(--ion-color-grey-7);
    }
  }
  &__distance {
     ion-item-divider {
      padding: 0 .5rem;
      --inner-padding-end: 0;
    }
    ion-label {
      //font-size: 1rem;
      font-weight: 500;
      color: var(--ion-color-grey-8);
    }
    ion-label:last-child {
      opacity: 0.8;
      font-size: 1rem;
    }
  }

  &__interested {
    ion-col {
      ion-item {
        ion-checkbox {
          --border-radius: 4px;
          --size: 1.2rem;
          color: var(--ion-color-grey-8);
        }
      }
    }
  }
}


