<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onCancelEditing()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ formTitle() }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()"
        [disabled]="editPrefFormFields.invalid">
       Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editPrefFormFields">
    <ion-grid class="edit-preference">
      <ion-row class="edit-preference__age" *ngIf="fieldName === FieldName.Age" >
        <ion-col>
          <ion-item-group >
            <ion-item-divider>
              <ion-label>How old are they ?</ion-label>
              <ion-label slot="end"> {{  ageRange.lower }} - {{  ageRange.upper }}</ion-label>
            </ion-item-divider>
            <ion-item lines="none">
                <ion-range
                  #ionRange
                  [dualKnobs]="true"
                  [min]="18"
                  [max]="100"
                  [pin]="true"
                  [value]="ageRange"
                  (ionInput)="onRangeInput($event)">
                </ion-range>
            </ion-item>
          </ion-item-group>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="fieldName === FieldName.Distance" class="edit-preference__distance">
        <ion-col >
          <ion-item-group >
            <ion-item-divider>
              <ion-label>How far are they ?</ion-label>
              <ion-label slot="end"> {{ distanceRange >= 120 ? distanceRange + '+' : distanceRange }} km</ion-label>
            </ion-item-divider>
          </ion-item-group>
           <ion-item lines="none">
            <ion-range
              [min]="1"
              [value]="fieldValue"
              [max]="120"
              (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
              [pin]="true">
            </ion-range>
           </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="fieldName === FieldName.LookingFor" class="edit-preference__looking-for" >
        <ion-col size="12" >
          <ion-item-group>
            <ion-item-divider>
                <ion-label>You are looking for ?</ion-label>
            </ion-item-divider>
          </ion-item-group>
          @for(item of lookingForOptions; track item){
            <ion-item lines="none">
              <ion-checkbox label-placement="start"
                label-placement="start"
                [checked]="selectedLookingFor.includes(item.title)"
                (ionChange)="onLookingCheckboxToggle(item.title, $event.detail.checked)">
                {{item.value}}
              </ion-checkbox>
            </ion-item>
          }
          </ion-col>
      </ion-row>

      <ion-row class="edit-preference__interested-in" *ngIf="fieldName === FieldName.InterestedIn">
        <ion-col>
          <ion-radio-group
           (ionChange)="onSelectInterestedIn($event)"
           [value]="selectedInterestInOption">
              <ion-item-divider>
              <ion-label>You are interested in ?</ion-label>
            </ion-item-divider>
            @for(item of interestInOptions; track item) {
              <ion-item lines="none">
                <ion-radio
                  mode="md" [value]="item"
                  justify="space-between" aria-label="Custom">
                    {{item}}
                </ion-radio>
              </ion-item>
            }
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
