<ion-grid>
  <ion-row>
    <ion-col>
      <app-profile-slider
        *ngIf="profile"
        [profileToView]="profile.id === profileToView?.profile?.id ? profileToView : null"
        [profile]="profile"
        [pageName]="'discover'"
      >
      </app-profile-slider>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="profileToView" [ngClass]="onCollapseProfileDetails(profileToView)">
    <ion-col>
      <app-profile-viewer-description> </app-profile-viewer-description>
    </ion-col>
  </ion-row>
</ion-grid>
