<app-header [pageName]="'matches'"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="!isEmpty">
    <ion-row>
      <ion-col>
          <ion-text >New matches</ion-text>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col >
        <ion-list *ngFor="let match of matchesArray" >
            <ion-item lines="none">
              <app-match-item [partnerInfo]="match" ></app-match-item>
            </ion-item>
            <ion-item lines="none">
              <app-match-item [partnerInfo]="match" ></app-match-item>
            </ion-item>
            <ion-item lines="none">
              <app-match-item [partnerInfo]="match" ></app-match-item>
            </ion-item>
            <ion-item lines="none">
              <app-match-item [partnerInfo]="match" ></app-match-item>
            </ion-item>
            <ion-item lines="none">
              <app-match-item [partnerInfo]="match" ></app-match-item>
            </ion-item>
            <ion-item lines="none">
              <app-match-item [partnerInfo]="match" ></app-match-item>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isEmpty">
    <ion-row>
      <ion-col>
         <app-place-holder ></app-place-holder>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
