ion-header {
  ion-toolbar {
    --background: #fff;
    --border-width: 0;
      ion-text {
        font-size: 1.5rem;
        font-weight: 600;
      }
      ion-icon {
          color: var(--ion-color-primary);
          height: 3rem;
          width: 3rem;
      }

  }
}

ion-content {
  --padding-bottom: 8rem;
   ion-grid {
    margin: 0;
    padding: 0;
     ion-row {
         ion-col {
          margin: 0;
          padding: 0;
         }
    }

    ion-row {
      margin-top: .5rem;
    }
   }

}

//::ng-deep
app-profile-action {
  position: fixed;
  left: 50%;
  bottom:  0%;
  transform: translate(-50%, -0%);
  z-index: 1;
  width: 100%;

  /* Linear gradient */
      background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.01) 0%,
      rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
