<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-text slot="start">Salim, 31</ion-text>
      <ion-icon name="arrow-redo-circle" slot="end" (click)="goBackToExplore()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <app-profile-slider></app-profile-slider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <app-profile-looking-for></app-profile-looking-for>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <app-profile-about-me></app-profile-about-me>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-profile-essentials></app-profile-essentials>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <app-profile-lifestyle></app-profile-lifestyle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-report-profile></app-report-profile>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-block-profile></app-block-profile>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-profile-action></app-profile-action>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
