ion-card-content {
  text-align: center;
  ion-text {
    font-weight: bold;
    color:  var(--ion-color-primary);
    span {
      font-size: .8rem;
      color: var(--ion-color-grey-7);
    }
  }
}
