/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use './theme/typography/typography' as *;
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


ion-toolbar {
  --background: var(--ion-background-color);
}

ion-item-divider {
  --background: transparent;
  margin: 0;
  padding: 0;
}

ion-content {
  --background: var(--ion-color-grey-1);
  padding-top: env(safe-area-inset-top);
}

ion-text {
  color: var(--ion-color-grey-7);
}

ion-modal {
  --height: 100vh;
  --width: 100%;
  --border-radius: 0px;
}

ion-item {
  --background: transparent;
}
ion-grid {
  margin: 0;
  padding: 0;
  ion-row {
    ion-col {
      margin: 0;
      padding: 0;
    }
  }
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for webkit-based browsers */
  }
}
