ion-header {
  ion-toolbar {
    padding-top: 3rem;
    padding-bottom: 1rem;
    --background:  var(--ion-color-cyan-0);
    --border-width: 0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    ion-title {
      color: var(--ion-color-grey-8);
      font-weight: bold;
    }

    ion-button {
      font-weight: bold;
    }

    ion-buttons {
      ion-icon {
        fill: var(--ion-text-color-1);
        font-size: 1.8rem;
        margin-left: 0.5rem;
      }
    }

    .btn {
      &__eye {
        font-size: 2.5rem;
        fill: var((--ion-color-primary));
      }
    }
    .user-name {
      color: var(--ion-text-color-1);
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

// Discover-viewer Section
.discover-viewer {
  &__user-name {
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  &__close-icon {
    padding: 0.3rem;
    border-radius: 50%;
    font-size: 1.4rem;
    //transform: scale(1.2);
    color: var(--ion-color-grey-0);
    background: linear-gradient(#ea0b25, #f85c6e);
  }
}
