ion-card {
  ion-card-header {
    padding-bottom: 0.5rem ;
    ion-card-subtitle {
      text-align: left;
      display: flex;
      margin: 0;
      padding: 0;
      ion-text {
        box-decoration-break: clone;
        //margin-left: 0.3rem;
        color: var(--ion-color-grey-7);
        font-size: 1rem;
        text-transform: capitalize;
        align-self: center;
      }
      ion-icon {
        font-size: 1.2rem;
      }
    }
  }
}

