div {

  position: relative;
  background: rgb(217, 224, 217);
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  //padding: 2rem;
  .text {
      fill: rgb(14, 14, 14);
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 4rem;
      font-weight: 900;
      transform: translate(-50%, -50% );



      &__like {
       /*  background: linear-gradient(to right, #24ff9c,  #caf78b,);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        fill: #f01906;

      }
      &__dislike {
      /*   background: linear-gradient(to right, #f01906, #b200a6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        fill: #f01906;
      }
  }
}
