<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onCancelEditing()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ fieldName === FieldName.City ? 'Travel to': fieldName }} </ion-title>
    <ion-buttons slot="end">
      <ion-button
      (click)="onSubmit()"
      [disabled]="editProfileFormFields.invalid">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <form  [formGroup]="editProfileFormFields">
    <ion-grid class="edit-profile">
        <ion-row *ngIf="fieldName === FieldName.Bio" class="edit-profile__bio" >
          <ion-col>
              <ion-item lines="none">
                <ion-textarea
                  [formControlName]="FieldName.Bio"
                  maxlength="250"
                  placeholder="Tell us about yourself"
                 autoGrow="true">
                </ion-textarea>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="fieldName === FieldName.Gender" class="edit-profile__gender" >
          <ion-col size="12">
            <ion-item>
              <ion-label class="ion-text-wrap">Select Gender</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="12" >
            <ion-item lines="none">
              <ion-checkbox label-placement="start"
                label-placement="start"
                [checked]="editProfileFormFields.get(FieldName.Gender)?.value === 'female'"
                (ionChange)="onSingleCheckboxSelect('female')">woman</ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <ion-checkbox
                label-placement="start"
                [checked]="editProfileFormFields.get(FieldName.Gender)?.value === 'male'"
                (ionChange)="onSingleCheckboxSelect('male')">man</ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <ion-checkbox
                  label-placement="start"
                  [checked]="editProfileFormFields.get(FieldName.Gender)?.value === 'other'"
                  (ionChange)="onSingleCheckboxSelect('other')">other</ion-checkbox>
            </ion-item>
          </ion-col>
       </ion-row>

      <ion-row *ngIf="fieldName === FieldName.City"  class="edit-profile__home-town">
        <ion-col >
          <ion-item lines="none">
            <ion-searchbar
              [value]="selectedLocation"
              class="custom"
              placeholder="Selected location" ></ion-searchbar>
          </ion-item>
           <app-location-picker (locationSelected)="onSelectLocation($event)"></app-location-picker>
        </ion-col>
      </ion-row>

     <ion-row *ngIf="fieldName === FieldName.Country" >
        <ion-col>
          <ion-item>
            <ion-label position="floating"> country </ion-label>
            <ion-input
              [formControlName]="FieldName.Country"
              type="text"
              placeholder="Enter your country"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="fieldName === FieldName.SexOrientation" class="edit-profile__sex-orientation" >
        <ion-col>
           <ion-radio-group
           [value]="selectedSexOrientation"
           (ionChange)="onSexOrientation($event)">
            @for(item of sexOrientationList; track item) {
             <ion-item>
                <ion-radio mode="md" [value]="item" justify="space-between"  aria-label="Custom" > {{ item }}</ion-radio>
             </ion-item>
            }
          </ion-radio-group>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="fieldName === FieldName.Children" >
        <ion-col>
           <ion-radio-group value="space-between">
            <ion-radio value="space-between" justify="space-between"aria-label="Custom checkbox">I don't have children</ion-radio>
            <ion-radio value="space-between" justify="space-between" aria-label="Custom checkbox that is checked"> I have children</ion-radio>
          </ion-radio-group>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="fieldName === FieldName.Education" class="edit-profile__bio" >
          <ion-col>
              <ion-item lines="none">
                <ion-input
                  [formControlName]="FieldName.Education"
                  placeholder="About your school"
                 autoGrow="true">
                </ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="fieldName === FieldName.UserHeight" class="edit-profile__bio" >
          <ion-col>
              <ion-item lines="none">
                <ion-input
                  [formControlName]="FieldName.UserHeight"
                  placeholder="About your school"
                  autoGrow="true">
                </ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>
  </form>
</ion-content>
