<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="onCancelEditing()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{ formTextHeader(fieldName)}} </ion-title>
    <ion-buttons slot="end">
      <ion-button
      (click)="onSubmit()"
      [disabled]="editProfileFormFields.invalid">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <form  [formGroup]="editProfileFormFields">
    <ion-grid class="edit-profile">
        <ion-row *ngIf="fieldName === FieldName.Bio" class="edit-profile__bio" >
          <ion-col>
              <ion-item lines="none">
                <ion-textarea
                  [value]="bioTextValue"
                  (ionInput)="onBioInput($event)"
                  maxlength="250"
                  placeholder="Tell them about yourself..."
                  autoGrow="true">
                </ion-textarea>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="fieldName === FieldName.Gender" class="edit-profile__gender" >
          <ion-col size="12" >
            @for(item of genderOptions; track item ) {
            <ion-item lines="none">
              <ion-checkbox label-placement="start"
                label-placement="start"
                [checked]="genderValue === item.title "
                (ionChange)="onSelectGender(item.title)"> {{ item.value }}</ion-checkbox>
            </ion-item>
            }
          </ion-col>
       </ion-row>

      <ion-row *ngIf="fieldName === FieldName.City"  class="edit-profile__home-town">
        <ion-col >
          <ion-item lines="none">
            <ion-searchbar
              [value]="selectedLocation"
              class="custom"
              placeholder="Selected location" ></ion-searchbar>
          </ion-item>
           <app-location-picker (locationSelected)="onSelectLocation($event)"></app-location-picker>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="fieldName === FieldName.SexOrientation" class="edit-profile__sex-orientation" >
        <ion-col>
           <ion-radio-group
           [value]="selectedSexOrientation"
           (ionChange)="onSexOrientation($event)">
            @for(item of sexOrientationList; track item) {
             <ion-item lines="none">
                <ion-radio
                  mode="md" [value]="item"
                  justify="space-between"
                  aria-label="Custom" >
                  {{ item }}
                </ion-radio>
             </ion-item>
            }
          </ion-radio-group>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="fieldName === FieldName.Children" class="edit-profile__children" >
        <ion-col>
           <ion-radio-group
           (ionChange)="onSelectChildrenOption($event)"
           [value]="selectedChildrenOption">
            @for(item of childrenOptions; track item) {
              <ion-item lines="none">
                <ion-radio
                  mode="md" [value]="item"
                  justify="space-between" aria-label="Custom">
                    {{item}}
                </ion-radio>
              </ion-item>
            }
          </ion-radio-group>
        </ion-col>
      </ion-row>

       <ion-row *ngIf="fieldName === FieldName.Education" class="edit-profile__education" >
          <ion-col>
              <ion-item lines="none">
                <ion-textarea
                  [value]="educationTextValue"
                  placeholder="About your school"
                  (ionInput)="onEducationInput($event)"
                  rows="1">
                </ion-textarea>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="fieldName === FieldName.UserHeight" class="edit-profile__height" >
          <ion-col>
            <ion-picker (ionChange)="onHeightPicker($event)">
              <ion-picker-column [value]="selectedHeight">
                <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                  @for(item of heightOptions; track item) {
                    <ion-picker-column-option [value]="item">{{item}}</ion-picker-column-option>
                  }
                <div slot="suffix">cm</div>
              </ion-picker-column>
            </ion-picker>
          </ion-col>
        </ion-row>
    </ion-grid>
  </form>
</ion-content>
