<div
  appCustomSwiper
  (profilePreview)="onProfileView()"
  (slideLeft)="slideLeft()"
  (slideRight)="slideRight()"
  [ngClass]="setSwiperContainerHeight(profileToView)"
>
  <ion-card>
    <ion-card-content>
      <div class="swiper-pagination">
        <div
          [ngClass]="
            index !== currentIndex
              ? 'swiper-pagination__bullet'
              : 'swiper-pagination__bullet swiper-pagination__bullet--active'
          "
          *ngFor="let item of profile.photos; let index = index; trackBy: trackByIndex"
        ></div>
      </div>
      <img
        alt="Profile avatar"
        loading="lazy"
        *ngIf="setUserImages().length > 0"
        [ngClass]="setProfileImagesHeight(profileToView)"
        [src]="setUserImages()[currentIndex]"
      />

      <div [ngClass]="setProfileDetailsStyle(profileToView)">
        <app-profile-coordination [profile]="profile"> </app-profile-coordination>
      </div>
    </ion-card-content>
  </ion-card>
</div>
