
<div
(click)="onProfileClick($event, profile)"
class="container"
 >
<swiper-container
[modules]="swiperModules"
[pagination]="true"
#swiperContainer
[config]="swiperOptions"
[ngClass]="setSwiperContainerHeight(profileToView)"
>
<swiper-slide  *ngFor="let item of setUserImages(profile) ; let index = index">
    <ng-container  >
      <img [src]="item"
      alt="Profile Image"
       [ngClass]="'profile-img'"
       loading="lazy" >
       <div  [ngClass]="setProfileDetailsStyle(profileToView)"
          >
        <app-profile-coordination
        [profile]="profile"
        >
        </app-profile-coordination>
      </div>

    </ng-container>
</swiper-slide>
</swiper-container>
</div>






