.hammer-swiper-container {
  // touch-action: pan-y; // Ensures vertical scrolling is smooth
  &__disable-hammer-swipe {
    pointer-events: none;
    position: relative;
    // Ensure scrolling is still possible inside child elements
    > * {
      height: 100%;
      width: 100%;
      overflow: auto; // Allow scrolling
      //touch-action: pan-y; // Allow vertical scrolling // Allow vertical scrolling
    }
  }
}
