.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent content from overflowing the container */
  transition: all 0.3s ease; /* Add transition for smooth effect */
  .profile-details-list {

      &__enable-scroll {
        height: 100%; /* Ensures the ion-list takes up the full height of the wrapper */
        overflow-y: auto; /* Allows the list to scroll if the content overflows */

      }

      &__disable-scroll {
          overflow: hidden;
          //max-height: 0; /* This is where the height animation happens */
      }

    .details {
      transition: all .3s ease-in-out;
        &__enable {
          transform: translateY(0%);
          padding-bottom: 14rem;

        }

        &__disable {
          transform: translateY(-140%);
          height: 0; // From here
        }
    }
  }
}
