<div
#cardElement
(panstart)="onPanStart($event)"
(pan)="onPan($event)"
(panend)="onPanEnd($event)"
 class="profile-card"
 (click)="onProfileClick($event)">
  <swiper-container
  [modules]="swiperModules"
  [pagination]="true"
  #swiperContainer
  [config]="swiperOptions">
    <swiper-slide *ngFor="let item of userImages; let index" >
      <ng-container >
        <img [src]="item" alt="Profile Image" class="profile-img" >
        <div class="profile-details">
          <app-profile-coordination
          [profile]="this.currentProfile"
          >
          </app-profile-coordination>
        </div>
      </ng-container>
    </swiper-slide>
  </swiper-container>
</div>





<!-- <ng-container *ngFor="let item of userImages; let index"  >
  <div class="profile-card"
    #cardElement
    (panstart)="onPanStart($event)"
    (pan)="onPan($event)"
    (panend)="onPanEnd($event)">
     <img [src]="item" alt="Profile Image">
     <h3 >{{ currentProfile.first_name }}</h3>
</div>
</ng-container> -->

