<ion-header *ngIf="profile">
  <ion-toolbar>
    <ion-text slot="start">
     <span> {{ profile.name }}</span> {{ profileAge(profile.birth_date) }}
    </ion-text>
    <ion-text class="close-icon" slot="end" (click)="onClose()"></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profile">
  <ion-grid  class="profile-viewer">
    <ion-row class="profile-viewer__slider">
      <ion-col >
        <app-profile-slider
          [profile]="profile"
          [pageName]="pageName"
        ></app-profile-slider>
      </ion-col>
    </ion-row>
    @for(content of profileContent; track content) {
      <ion-row class="profile-viewer__contents">
        <ion-col>
          <ion-card class="profile-viewer__contents--single-content">
            <ion-card-header>
              <ion-card-subtitle>
                <ng-container *ngIf="content.title !== 'Height'; else svgIcon ">
                     <ion-icon [name]="content.iconName"></ion-icon>
                </ng-container>

               <ng-template #svgIcon>
                 <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#000000"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M17 3l4 4l-14 14l-4 -4z" />
                  <path d="M16 7l-1.5 -1.5" />
                  <path d="M13 10l-1.5 -1.5" />
                  <path d="M10 13l-1.5 -1.5" />
                  <path d="M7 16l-1.5 -1.5" />
                </svg>
               </ng-template>
              <ion-label> {{ content.title }} </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-text class="card-content">
                {{ content.value }}
              </ion-text>
            </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>
