ion-header {
  ion-toolbar {
    --border-width: 0;
    ion-text {
      font-size: 1.3rem;
      span {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    .close-icon {
      height: 1.5rem;
      width: 1.3rem;
      position: relative;
      &::after, &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2.5px;
        width: 100%;
        background-color: var(--ion-color-grey-7);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
       &::before {
        transform: translate(-50%, -50%) rotate(-45deg);;
      }
    }
  }

}
ion-content {
  --background: var(--ion-color-grey-3);
   .profile-viewer {
    padding: 0;
    margin-bottom: 6rem;
    position: relative;
    ion-row {
      margin-bottom: .5rem;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
    &__slider{

    }

    &__contents {
      &--single-content {
        margin: 0;
        padding: 0;
        ion-card-header {
          padding-bottom: .5rem;
        }
        ion-card-subtitle {
          text-align: left;
          display: flex;
          ion-label {
            box-decoration-break: clone;
            margin-left: 0.5rem;
            //font-size: 1rem;
            align-self: center;
            text-transform: capitalize;
            span {
              text-transform: lowercase;
            }
          }
          ion-icon {
            font-size: 1.2rem;
          }
        }
        ion-card-content {
          ion-text {
            font-size: .9rem;
          }
        }
        ion-item-divider{
          ion-item {
            width: 100%;
          }
        }
      }
    }
  }
}
