<ion-header *ngIf="profile">
  <ion-toolbar>
    <ion-text slot="start">
     <span> {{ profile.name }}</span> {{ profileAge(profile.birth_date) }}
    </ion-text>
    <ion-text class="close-icon" slot="end" (click)="onClose()"></ion-text>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profile">
  <ion-grid>
    <ion-row>
      <ion-col >
        <app-profile-slider
          [profile]="profile"
          [pageName]="pageName"
        ></app-profile-slider>
      </ion-col>
    </ion-row>
    @for(content of profileContent; track content) {
      <ion-row>
        <ion-col>
          <ion-card class="view-profile-child">
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon [name]="content.iconName"></ion-icon>
                <ion-label> {{ content.title }} </ion-label>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                {{ content.value }}
              </ion-text>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    }
<!--     <ion-row *ngIf="profile.bio">
      <ion-col >
        <app-profile-about-me [bio]="profile.bio"></app-profile-about-me>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="profile.looking_for">
      <ion-col>
        <app-profile-looking-for [lookingFor]="profile.looking_for"></app-profile-looking-for>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <app-profile-essentials [profile]="profile"></app-profile-essentials>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <app-height ></app-height>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <app-children ></app-children>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <app-home ></app-home>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <app-shool ></app-shool>
      </ion-col>
    </ion-row>

      <ion-row>
      <ion-col >
        <app-languages ></app-languages>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <app-report-profile [profile]="profile"></app-report-profile>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <app-block-profile [profile]="profile"></app-block-profile>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>
