<ion-grid>
  <ion-row>
    <ion-col class="interaction-container">
      <ng-container *ngFor="let btn of buttons; let index = index">
        <div
          role="button"
          (click)="btn.onClick()"
          class="interaction-container interaction-container__btn"
          [ngClass]="isHidden(btn.animationType)"
        >
          <ion-icon
            [src]="isActiveIcon(btn.animationType) ? btn.isActiveIcon : btn.icon"
          ></ion-icon>
          <div class="background-anim" [ngClass]="'background-anim__' + index"></div>
        </div>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
