ion-header {
  ion-toolbar {
    --background: #fff;
    --border-width: 0;
  }
}

ion-content {
  position: relative;
  ion-grid {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    ion-row {
      position: relative;
      ion-col{
        app-card-user{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;

        }
     }
    }
  }
}

