<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> Love </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
     <ion-button>
      <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="options-outline"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" >
        <app-card-user [ngClass]="{'swipeable': true}" class="red" offset-md="3" *ngFor="let foreigner of foreignersList; let i = index " [foreigner]="foreigner"
        appSwipe
        (swipe)="onSwipe($event, i)"
        [style.transform]="i === currentIndex ?transform:''"></app-card-user>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-profile-action></app-profile-action>
</ion-content>
