<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> Love </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
     <ion-button>
      <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button> <ion-icon name="options-outline"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" >
        <app-card-user offset-md="3" *ngFor="let foreigner of foreignersList" [foreigner]="foreigner"
        appTap
        (tap)="onTap($event)"
        (doubleTap)="onDoubleTap($event)"
        appPress
        (press)="onPress($event)"  ></app-card-user>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-profile-action></app-profile-action>
</ion-content>
