ion-header {
  ion-toolbar {
    --background: #fff;
    --border-width: 0;
  }
}

ion-content {

  ion-grid {
    padding: 0;
    position: relative;
    ion-row {

      ion-col{

        app-card-user{
          position: absolute;
          left: 50%;
          top: 10%;
          transform: translate(-50%, -10%);
          width: 100%;
        }
     }
    }
  }
  app-profile-action{
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
  }
}

