<ion-grid>
  <ion-row>
    <ion-col sizeMd="6" offsetMd="3" >
      <app-profile-images-card [profileToDisplay]="foreigner">
    </app-profile-images-card>

      <!-- <app-profile-slider [profile]="foreigner"></app-profile-slider>
      <div
      class="details-section"
      appTap
      (tapSide)="onTapSide($event)"
      >
        <app-profile-coordination
          *ngIf="hidingTapStatus==='show'"
          [profile]="foreigner"
          >
        </app-profile-coordination>
      </div> -->
    </ion-col>
  </ion-row>

</ion-grid>

