.container {
  display: flex;
  width: 100%;
  &__icon{
    align-self: center;
    display: flex;
    ion-icon {
      margin: auto;
      font-size: 1.5rem;
      position: relative;
    }

    &--plus {
      ion-icon::before {
        background-image: linear-gradient(rgb(232, 187, 245), rgb(182, 4, 161));
        mask: url('https://unpkg.com/ionicons@5.5.2/dist/svg/heart.svg') center/contain no-repeat;
        --webkit-mask: url('https://unpkg.com/ionicons@5.5.2/dist/svg/heart.//svg') center/contain no-repeat;
      }
    }

    &--gold {
      ion-icon::before {
        background-image: linear-gradient(gold, rgb(182, 155, 4));
        mask: url('https://unpkg.com/ionicons@5.5.2/dist/svg/heart.svg') center/contain no-repeat;
        --webkit-mask: url('https://unpkg.com/ionicons@5.5.2/dist/svg/heart.//svg') center/contain no-repeat;
      }
    }

    &--platinum {
      ion-icon::before {
        background-image: linear-gradient(rgb(16, 16, 16), rgb(239, 239, 239));
        mask: url('https://unpkg.com/ionicons@5.5.2/dist/svg/heart.svg') center/contain no-repeat;
        --webkit-mask: url('https://unpkg.com/ionicons@5.5.2/dist/svg/heart.//svg') center/contain no-repeat;
      }
    }
    ion-icon::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__category {
    align-self: center;

    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: .5rem;
    height: 1rem;
    transform: skew(-20deg);
    display: flex;
    border-radius: .2rem;
    ion-text {
      font-size: 8px;
      margin: auto;
      text-transform: uppercase;
    }

    &--gold {
      background: linear-gradient(to right, #eac604,  gold);
    }

    &--platinum {
      background: linear-gradient(to right, rgb(4, 4, 4), rgb(116, 115, 115));
      ion-text {
        color: #fff;
      }
    }

    &--plus {
      background: linear-gradient(to right, rgb(222, 4, 211), rgb(236, 111, 211));
      ion-text {
        color: #fff;
      }
    }
  }
  &__name {
    align-self: center;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &__upgrade {
     margin-left: auto;
     align-self: center;

     ::ng-deep app-badge {
      ion-badge {
        color: black;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 1rem;
        padding: .4rem .9rem;
        border-radius: 2rem;
      }
    }

    &--platinum {
      ::ng-deep app-badge {
        ion-badge {
          background-image: linear-gradient(to right, rgb(10, 10, 10), rgb(143 139 139));
          color: #fff;
        }
      }
    }

    &--gold {
      ::ng-deep app-badge {
        ion-badge {
          background-image: linear-gradient(to right, rgb(184, 139, 14), rgb(237, 195, 10));
        }
      }
    }

    &--plus {
      ::ng-deep app-badge {
        ion-badge {
          background-image:linear-gradient(to right, rgb(113, 20, 101), rgb(249 85 231));
          color: #fff;
        }
      }
    }
  }
}






