<ion-grid>
  <ion-row>
    <ion-col>

        <div class="container" >
          <div class="container__icon">
            <ion-icon   name="heart"></ion-icon>
          </div>

          <div class="container__name">
             <ion-text >love</ion-text>
          </div>

          <div class="container__category">
             <ion-text>GOLD</ion-text>
          </div>

          <div class="container__upgrade">
            <app-badge [text]="'upgrade'"></app-badge>
          </div>
        </div>

    </ion-col>
  </ion-row>
</ion-grid>
