<ion-grid>
  <ion-row>
    <ion-col>

        <div class="container" >
          <div [ngClass]=" styleLogo(category)">
            <ion-icon   name="heart"></ion-icon>
          </div>

          <div class="container__name">
             <ion-text >love</ion-text>
          </div>

          <div [ngClass]="styleCategory(category)">
             <ion-text>{{ category }}</ion-text>
          </div>

          <div [ngClass]="styleBadge(category)">
            <app-badge [text]="'upgrade'"></app-badge>
          </div>
        </div>

    </ion-col>
  </ion-row>
</ion-grid>
