<ion-content [fullscreen]="true">
  <app-edit-profile-form></app-edit-profile-form>
<!--   <ion-grid>
    <ion-row class="media-section">
      <ion-col>
        <ion-text>Media</ion-text>

      </ion-col>
    </ion-row>
    <ion-row class="about-me">
      <ion-col>
        <ion-text>About me</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="interests-section">
      <ion-col>
        <ion-text>Interests</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="relationship-goals-section">
      <ion-col>
        <ion-text>Relationship Goals</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Relationship type</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Language I know</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text> Lifestyle </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>School</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Living in</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Gender</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text> Sexual orientation </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text> Control Your profile </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
