ion-grid {
  position: fixed;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    width: 90%;

  ion-row:first-child {
    margin-bottom: 6rem;
    ion-col {
      display: flex;
      justify-content: center;
    }
  }
  ion-row:nth-child(even) {
      ion-col {
        display: flex;

        ion-text {
          margin: auto;
          text-align: left;
          width: 90%;
        }
      }
  }

  ion-row:last-child {
      ion-col {
        text-align: center;
      }
  }

}
