ion-grid {

  ion-row {
     ion-col {
      text-align: center;
     }
  }
  ion-row:first-child {
    margin-bottom: 6rem;
    ion-col {
      display: flex;
      justify-content: center;
    }
  }
}
