<app-header [pageName]="'discover'" ></app-header>

<ion-content [fullscreen]="true" *ngIf="isConnected" [scrollY]="false">
  <ion-grid>
    <ion-row>
        <ion-col >
            <app-profile-card class="swipeable"
            *ngFor="let foreigner of foreignersList; let i = index; trackBy: trackById "
            [foreigner]="foreigner"
            appSwipe
            (swipe)="onSwipe($event, i)"
            [style.transform]="i === currentIndex ? transform ?? '' : '' "
            [lastProfileIndex]="currentIndex"
            [profileIndex]="i"
            [hidingTapStatus]="hidingTapStatus"
            ></app-profile-card>
        </ion-col>
    </ion-row>
    <!-- Place holder  -->
    <ion-row *ngIf="!foreignersListStatus">
      <ion-col>
         <app-place-holder [pageName]="'discover'"></app-place-holder>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
