<app-header [pageName]="'community'"></app-header>

<ion-content [fullscreen]="true" *ngIf="isConnected">
  <ion-grid>
    <ion-row >
      <ion-col size-md="6" >
        <app-card-user [ngClass]="{'swipeable': true}"  offset-md="3" *ngFor="let foreigner of foreignersList; let i = index " [foreigner]="foreigner"
        appSwipe
        (swipe)="onSwipe($event, i)"
        [style.transform]="i === currentIndex ?transform:''"
        [lastProfileIndex]="currentIndex"
        [profileIndex]="i"
        [profileImages]="profilesImages[i]"></app-card-user>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!foreignersListStatus">
      <ion-col>
        <app-discover-place-holder></app-discover-place-holder>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hidingTapStatus" >
      <ion-col>
        <app-profile-about-me></app-profile-about-me>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!foreignersListStatus">
      <ion-col>
        <ion-text>You are running out of profiles</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-profile-action *ngIf="foreignersListStatus && hidingTapStatus==='show'"></app-profile-action>

</ion-content>
