

ion-content {
  ion-grid {
    position: relative;
    ion-row {
      ion-col{
        app-card-user{
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          padding: 0 .5rem;
          padding-top: 1rem;
        }
     }
    }

    ion-row:nth-child(2) {
      position: fixed;
      left: 50%;
      top: 58%;
      transform: translate(-50%, -50%);
    }

    ion-row:last-child {
      //margin-top: 4rem;
      ion-col {
        text-align: center;
        color: rgb(74, 74, 74);
        font-size: 1rem;

      }
    }
  }

  app-profile-action{
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
  }
}



