form {
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    color: var(--ion-color-grey-7);
    ion-label {
      font-size: 1rem;
      font-weight: bold;
    }
    ion-input {
      font-weight: bold;
      opacity: .9;
    }
  }
  ion-grid {
    ion-row:last-child {
      padding-top: 1rem;
      ion-col {
        ion-button {
          border-radius: 2rem;
          font-weight: bold;
          color: var(--ion-color-grey-1);
          font-size: 1rem;
          padding: 0.4rem 0;
          width: 100%;
          background: linear-gradient(to right bottom, rgba(#2ed4f1, 1), rgba(#0c0c0c, 1));
        }
      }
    }
  }
}
