<ion-content scroll-y="false"    [style.--background]="'url(https://images.unsplash.com/photo-1506277886164-e25aa3f4ef7f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D) no-repeat center center / cover'" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
        <div class="its-match-text">
              <ion-text>It's a match!</ion-text>
              <ion-text>You matched with </ion-text>
              <ion-text>Laura</ion-text>
        </div>
          <app-paired-photos></app-paired-photos>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" >
        <app-button [btnText]="'Send a message'" (click)="onSendMessage()"></app-button>
        <app-button [btnText]="'Keep swiping'" (click)="onKeepSwiping()"></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>


