swiper-container {
  --swiper-pagination-bullet-inactive-color: #909492;
  --swiper-pagination-color:  var(--ion-color-primary) ;
  --swiper-pagination-bullet-width: 4.5rem;
  --swiper-pagination-bullet-height: 0.20rem;
  --swiper-pagination-bullet-border-radius: 2rem;
  --swiper-pagination-top: -1%;

  &::part(bullet-active) {
    height: 0.20rem;
    width: 4.5rem;
    border-radius: 2rem;
  }
  swiper-slide {
    .container {
      position: relative;
      img {
        height: 48rem;
        width: 100%;
        object-fit: contain;
        object-position: top;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      div {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         background: linear-gradient(to bottom,
             rgba(0, 0, 0, 0) 50%,
             rgb(0, 0, 0) 100%);

         width: 100%;
         height: 100%;
         //opacity: .2;
         z-index: 100;
         display: flex;
         border-bottom-left-radius: 1rem;
         border-bottom-right-radius: 1rem;
         app-profile-coordination {
           margin-bottom: 5rem;
           margin-top: auto;
           width: 100%;
         }
       }
    }
    //

  }
}


