swiper-container {
  --swiper-pagination-bullet-inactive-color: #909492;
  --swiper-pagination-color:  var(--ion-color-primary) ;
  --swiper-pagination-bullet-width: 4.5rem;
  --swiper-pagination-bullet-height: 0.20rem;
  --swiper-pagination-bullet-border-radius: 2rem;
  --swiper-pagination-top: -1%;

  &::part(bullet-active) {
    height: 0.20rem;
    width: 4.5rem;
    border-radius: 2rem;
  }
  swiper-slide {
    img {
      height: 45rem;
      width: 100%;
      object-fit: contain;
      object-position: top;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

  }
}


