ion-content {
  position: relative;
  ion-grid {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    ion-row {
      ion-col {
        display: flex;
        flex-direction: column;
      }
    }
    ion-row:first-child {
      height: 60%;
      ion-col {
        justify-content: center;
        .its-match-text {
          margin-top: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 6em;
          ion-text {
            font-size: 1rem;
            font-weight: 600;
          }
          ion-text:first-child {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: -10;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: oblique;
            transform: scale(1.5);
          }

          ion-text:last-child {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--ion-color-primary);
          }
        }
        app-paired-photos {
          width: 100%;
          text-align: center;
        }
      }
    }
    ion-row:last-child {
      height: 40%;
      ion-col {
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
        ::ng-deep app-button:last-child {
          ion-button {
            --background: none;
            background: none;
            color: var(--ion-color-grey-7);
            border: solid 2px var(--ion-color-grey-7);
          }
        }
      }
    }
  }
}

