ion-card {
  //--background: linear-gradient(#e8f4f3 50%, #fbf7f3 90%);
  //clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  ion-card-subtitle {
    text-align: left;
    ion-text {
      box-decoration-break: clone;
      color: var(--ion-color-primary);
    }
  }
}
