<app-header [pageName]="'settings'" (settings)="onBackArrow()"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
      <ion-row *ngFor="let item of settingsItem; let index = index ">
          <ion-col>
            <app-logo *ngIf="item.logo"></app-logo>
            <ion-text *ngIf="item.label" class="item-title">{{ item.label }}</ion-text>
            <ion-item *ngFor="let text of item.component;"  >
                <ion-text role="button" (click)="item.onClick?.()"> {{ text }}</ion-text>
                <ion-icon *ngIf="index <= 2" name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
