<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <app-profile-card [ngClass]="{'swipeable': true}"
      [foreigner]="foreigner"
     ></app-profile-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-profile-about-me></app-profile-about-me>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-profile-looking-for></app-profile-looking-for>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <app-profile-essentials></app-profile-essentials>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-block-profile></app-block-profile>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <app-report-profile></app-report-profile>
    </ion-col>
  </ion-row>
</ion-grid>
 -->
