@use "../../../../../theme/queries" as *;

ion-content {
  ion-grid {
    padding: .4rem .2rem;
    ion-row:last-child {
      ion-col {
        text-align: center;
        color: rgb(74, 74, 74);
        font-size: 1rem;
      }
    }
  }
}
