@use "../../../../../theme/queries" as *;

ion-content {
  position: relative;
  ion-grid {
    //padding: .4rem .2rem;
    ion-row:last-child {
      ion-col {
        text-align: center;
        color: rgb(74, 74, 74);
        font-size: 1rem;
      }
    }
  }
}

ion-modal {
  ion-content {
    position: relative;
    ion-button {
      position: absolute;
      bottom: 0;
    }
  }

 // height: 100vh;
  //margin-bottom: 5rem;
}
