    <app-header [pageName]="discoverToggleStatus ? 'discover-viewer': 'discover'" (closeProfileViewer)="closeProfileViewer()"  ></app-header>
    <ion-content #content [fullscreen]="true" *ngIf="isConnected" >
      <ion-grid>
         <ion-row *ngIf="membersList.length > 0; else default" class="test2">
          <ion-col size="12"  >
            <ng-container *ngFor="let item of membersList;  let index = index; trackBy: trackById">

                <app-profile-swipe   [profile]="item"
                [profileToView]="profileToView?.profile?.user_id === item.user_id ? profileToView: null ">
                </app-profile-swipe>

            </ng-container>
          </ion-col>
        </ion-row>



    <!--     <ion-row class="test" *ngIf="showTabs">
         <ion-col>
          <ion-footer   >
            <ion-grid>
              <ion-row>
                <ion-col>
                  <app-interaction-btns ></app-interaction-btns>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                   <app-discover-tabs *ngIf="!discoverToggleStatus"></app-discover-tabs>
                </ion-col>
              </ion-row>
            </ion-grid>
           </ion-footer>
         </ion-col>
        </ion-row> -->
        <!-- Place holder  -->
        <ng-template #default>
          <ion-row  class="place-holder">
            <ion-col>
               <app-place-holder [pageName]="'discover'"></app-place-holder>

            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>

    </ion-content>




