    <app-header [pageName]="'discover'" ></app-header>
    <ion-content [fullscreen]="true" *ngIf="isConnected" [scrollY]="false">
      <ion-grid>
        <ion-row *ngIf="foreignersList.length > 0; else default">
          <ion-col size="12">
            <ng-container *ngFor="let profile of foreignersList; let index = index">
               <app-profile-swipe  [profile]="profile"></app-profile-swipe>
            </ng-container>
          </ion-col>
        </ion-row>

        <!-- Place holder  -->
        <ng-template #default>
          <ion-row  class="place-holder">
            <ion-col>
               <app-place-holder [pageName]="'discover'"></app-place-holder>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>

    </ion-content>


    <ion-footer >
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-interaction-btns ></app-interaction-btns>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
      <app-discover-tabs></app-discover-tabs>
          </ion-col>
        </ion-row>
      </ion-grid>
     </ion-footer>

