ion-content {
  --background: var(--ion-color-grey-1);
  ion-grid {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    width: 100%;
    margin: 0;
    padding: 0;

    ion-row:first-child {
      background: var(--ion-color-cyan-0);
      //background-color: red;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      transform: scale(1.5);
      margin: 0;
      padding: 0;
      height: 100%;
      padding-bottom: 1rem;
      padding-top: 7rem;
    }
  }
}
