<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-logo></app-logo>
      <ion-text>intimacy</ion-text>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>  <ion-icon name="shield"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<app-header [pageName]="'friends'"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
          <app-search-bar></app-search-bar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngFor="let friend of friendsArray" >
            <app-card-friend [friend]="friend" ></app-card-friend>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
