<app-header [pageName]="'create account'" (closeCompleteProfile)="onClose()" ></app-header>

<ion-content >
  <form [formGroup]="profileForm" >
    <ion-grid class="create-account">
        <!-- Date of Birth -->
        <ion-row >
            <ion-col class="create-account__date-picker">
              <ion-item>
                <ion-label>Birthday</ion-label>
                <ion-input
                  placeholder="DDMMYYYY"
                  formControlName="birthDate"
                  maxlength="14"
                  inputmode="numeric"
                  (ionInput)="onDateInput($event)"
                ></ion-input>
              </ion-item>
              <ion-text *ngIf="profileForm.get('birthDate')?.hasError('invalidDateFormat')">
                <small >Please enter a valid date in DDMMYYYY format.</small>
              </ion-text>
              <ion-text *ngIf="profileForm.get('birthDate')?.hasError('underage')">
                <small>You must be at least 18 years old.</small>
              </ion-text>
            </ion-col>
        </ion-row>
        <!-- display name -->
        <ion-row>
          <ion-col class="create-account__name">
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input formControlName="name"placeholder="how should others see you?"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Gender -->
        <ion-row>
          <ion-col class="create-account__gender">
            <ion-item>
              <ion-select
                label="Gender"
                justify="start"
                interface="action-sheet"
                formControlName="gender"
                placeholder="Select gender">
                <ion-select-option value="male">Man</ion-select-option>
                <ion-select-option value="female">Woman</ion-select-option>
                <ion-select-option value="other">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>


        <!--  Interested In -->
        <ion-row>
          <ion-col class="create-account__intrest">
            <ion-item>
              <ion-select
                label="Interested In"
                justify="start"
                interface="action-sheet"
                formControlName="interestedIn"
                placeholder="Select one">
                <ion-select-option [value]="InterestedIn.Men">Men</ion-select-option>
                <ion-select-option [value]="InterestedIn.Women">Women</ion-select-option>
                <ion-select-option [value]="InterestedIn.Both">Both</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Photos Picker -->
        <ion-row>
            <ion-col class="create-account__photos">
              <ion-item>
                <ion-label >Profile Photos</ion-label>
              </ion-item>
              <ion-row >
                <ion-col class="create-account__photo-upload--cards" size="6" *ngFor="let i of [0, 1, 2, 3]; let idx = index; trackBy: trackByIndex">
                  <app-card-media
                    [photo]="photos.at(idx).value"
                  ></app-card-media>
                  <ion-icon
                  (click)="onTakePhoto(idx)"
                  [name]="photos.at(idx).value ? 'close-outline' : 'add-outline'"
                  [ngClass]="photos.at(idx).value ? 'icon-close' : 'icon-add'"
                ></ion-icon>

                <input
                  type="file"
                  accept="image/*"
                  capture="environment"
                  style="display: none"
                  #fileInput
                  (change)="onFileSelected($event)"
                />
                </ion-col>
              </ion-row>
            </ion-col>
        </ion-row>

        <!-- Submit -->
        <ion-row>
          <ion-col class="create-account__submit-btn">
            <ion-button
            fill="clear"
            size="small"
            (click)="onSubmit()"
            [disabled]="profileForm.invalid">
              Save
            </ion-button>
          </ion-col>
        </ion-row>

    </ion-grid>
  </form>
</ion-content>
