
.card-marin {
  margin: 0;
}


.left-align {
  text-align: left;
}

.text-color-1 {
  color: var(--ion-text-color-1);
}

//--background: linear-gradient(#e8f4f3 50%, #fbf7f3 90%);
//clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
